.repo-detail {
    margin: 10px;
    .list-container {
        .list-item {
            padding: 10px;
            background: #f3f5f8;
            border-radius: 6px;
            .list-item-header {
                display: flex;
                align-items: baseline;
                .list-title {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            .card {
                margin-bottom: 10px;
                border-radius: 6px;
                .card-title-container {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}   